@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    font-weight: 50;
}

body{
    background-color: hsl(27, 66%, 92%);
}

/* making the components */
section{
    display: grid;
    grid-template-rows: 100px 500px;
    gap:15px;
    position: relative;
    justify-content: center;
    margin:120px 20px;;
}
/* for the top part */
.balance{
    background-color: hsl(10, 79%, 65%);
    display: grid;
    grid-template-columns: 150px 215px;
    grid:15px;
    align-items: center;
    justify-items: center;
    color:hsl(33, 100%, 98%);
}

img{
    justify-self: flex-end;    
}
.my{
    line-height: 2rem;
    align-items: center;
}

.heavy{
    font-weight: 700;
    font-size: 25px;
}

.balance,.spend{
    border-radius: 20px;
   
}
/* for the mid-part */
.spend{
    background-color: hsl(33, 100%, 98%);
    display: grid;
    grid-template-rows: 1fr 300px 1fr;
    gap:15px;
   padding: 20px;
}
/* bars */
ul{
    position: relative;
    top:-30%;
    display: grid;
    grid-template-columns: repeat(7,40px);
    grid-auto-flow: dense;
    gap:10px;

}
li{
    list-style: none;
    background-color: hsl(10, 79%, 65%);
    border-radius: 3px;
    align-self: flex-end;
}

li[style*="53.36%"]{
    background-color: hsl(186, 34%, 60%);
}

li:hover{
    cursor: pointer;
    opacity: 0.7;
}
/* days name below the bars */
span::before{
    
    display: flex;
    justify-content: center;
    content: attr(title);
    position: relative;
    top:100%;
    right: 0;
    left:0;
    opacity: 0.7;
}
/* making span not to interfere with the hovering event  */
span{
    pointer-events: none; 
}
/* line b/w the chart and the last part */
hr{
    background-color: hsl(33, 100%, 98%);
    position: relative;
    height: 0;
    
}
/* for last part */
.down{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    color: hsl(25, 47%, 15%);
}


/* for the screen of min-width:1200px */

@media  screen and (min-width:1000px){
    body{
        margin: -212px 123px;
    } 
    ul{
        
        margin: -51px 18px; 
     }
     section{
        grid-template-columns: 500px;
     } 
     .balance{
        grid-template-columns: 150px 300px;
     } 
     .heavy{
        font-weight: 700;
        font-size: 30px;
    }
       
}
@media  screen and (min-width:768px) {
    
    section{
        width: 50%;
        margin:30% 25%;
    }
    
    ul{
        
        grid-template-columns: repeat(7,50px);
    }
    .balance{
        grid-template-columns: 150px 260px;
    }
}
